// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.lessons, .lesson
  .field
    margin: 10px 0
    input, textarea
      width: 300px
      margin-bottom: 0

  h3
    margin-bottom: 20px

  .actions .btn-success
    margin-top: 30px

  .btn.add-file
    margin-top: 10px